{% extends 'base.html' %}
{% block extrastyle %} 

 {% endblock %}
{%load crispy_forms_tags %}
{%block title%} OCSSC | Customer| Detail {%endblock%}

    <!-- /.content -->
{%block content%}
    <!---------->
        <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"> Customer Customer information</h1>
          </div><!-- /.col -->
           
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

      <section class="content">
      <div class="container-fluid">

        <div class="row">
          <!-- left column -->
          <div class="col-md-10">
            <!-- general form elements -->
            
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Full information of <b>{{form.account_number}}</b></h3>
              </div>

              <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{form.photograph.url}}"
                       alt="User profile picture">
                </div>
                

                <h3 class="profile-username text-center">
                    {{form.first_name}} {{form.middle_name}} {{form.last_name}}</h3>


              </div>
              <div class="row">
                        <!-- left column -->
                   <div class="col-md-3">
                    <div class="header-elements" align="left">
                    
                    <a href="{% url 'customer_edit' id=form.id %}" type="button" class="btn btn-success">Edit customer information</a>
                    </div>
                  </div>

                  <div class="col-md-6">
                  </div>

                  <div class="col-md-3">
                    {% if loan %}
                    {%else%}
                    <div class="header-elements" align="right">
                    
                    <a href="{% url 'loan_application' id=form.id %}" type="button" onclick="return confirm ('You are starting a loan application for this user')" class="btn btn-success">Loan Request</a>
                    </div>
                    {%endif%}
                </div>
              </div>

              <!-- /.card-body -->
            </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">


                <div class="row mb-3">
                        <div class="col-sm-6">

                <strong> Phone</strong>
                <p class="text-muted">
                    {{form.phone_number}}
                </p>

                <hr>

                <strong> Current balance in the account </strong>

                <p class="text-muted">
                    {{form.initial_deposit}}
                </p>

                <hr>

                <strong>Date of account creation </strong>

                <p class="text-muted">
                    {{form.date}}
                </p>

                <hr>

                <strong> Document</strong>

                <p class="text-muted">
                    <img class="img-fluid" src="{{form.document.url}}" alt="Document">
                    
                </p>

                <hr>
              </div>

              <div class="col-sm-6">
                <strong> Address</strong>

                <p class="text-muted">
                    {{form.address}}
                </p>

                <hr>
                <strong> City</strong>

                <p class="text-muted">
                    {{form.city}}
                </p>
                <hr>

                <strong> Office Branch</strong>

                <p class="text-muted">
                    {{form.office_branch}}
                </p>

                <hr>
                
                <strong> Identification </strong>

                <p class="text-muted">
                  <img class="img-fluid" src="{{form.identification.url}}" alt="identification">
                    
                </p>

                <hr>

                </div>
            </div>

              </div>
                </div>
                <!-- /.card-body -->
        <section class="content">
          <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12">
                   <div class="card">
                      <div class="card-header">

                             
                        </div>

                
                <!-- /.card-header -->
                      <div class="card-body">
                        
                        <table id="example1" class="table table-bordered table-striped">

                          <h2>User Transactions</h2>
                          <div class="row">
                            <div class="col-lg-2">

                              <a href="{% url 'transact' id=form.id %}" type="button" class="btn btn-block btn-outline-primary btn-sm">Add a transaction </a>

                            </div>

                            <div class="col-lg-5">
                            </div>

                            <div class="col-lg-5">
                            </div>
                          </div>
                          


                          <thead>
                           <tr>
 
                            <th>Name </th>
                            <th>Account Name </th>
                            <th>Inital</th>
                            <th>Final</th>
                            <th>Transaction</th>
                            <th>Date </th>
                            
                          </tr>
                          </thead>

                          <tbody>
                            {%for form in banking%}
                          <tr>
                            <th>{{form.customer}}</th>
                            <th>{{form.customer.account_number}}</th>
                            <th>{{form.initial_value}}</th>
                            <th>{{form.final_value}}</th>

                            <th>{{form.transaction}}</th>
                            <th>{{form.date}}</th>
                          </tr>
                            {%endfor%}
                        
                          </tbody>
                          <tfoot>
                          <tr>

                             <th>Name </th>
                            <th>Account Name </th>
                             <th>Inital</th>
                            <th>Final</th>
                            <th>Transaction</th>
                            <th>Date </th>
                            
                          </tr>
                          </tfoot>
                        </table>
                      </div>
                <!-- /.card-body -->
                      </div>
                    </div>
                  </div>
          </div>
        </section>
        </div>
        </div>
 
         </div>
       </section>

  {%endblock%}

                


<!---------->
  <!-- /.content-wrapper -->


<!-- ./wrapper -->

