{% extends 'base.html' %}
{% block extrastyle %}  {% endblock %}
{%load crispy_forms_tags %}

{%block title%} OCSSC | Branch| Create {%endblock%}

    <!-- /.content -->
{%block content%}
    <!---------->
        <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Wellcome to OCSSC</h1>
          </div><!-- /.col -->
           
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

      <section class="content">
      <p>This system is built for bank workers of different status to apply thier work at different levels </p>
        <p>The system is capable of but not limited to</p>
        <ul>
          
          <li>Create bank branches</li>
          <li>Create bank workers of different positions(customer service,manager,auditor,system admin)</li>
          <li>Create customer </li>
          <li>Create Loan applications</li>
           
        </ul>
       </section>
  {%endblock%}

                


<!---------->
  <!-- /.content-wrapper -->


<!-- ./wrapper -->

